w1
{
	color: white;
}
b1
{
	color: black;
}
b2
{
	color: blue;
}
r1
{
	color: red;
}
v1
{
	color: green;
}
o1
{
	color: orange;
}
m1
{
	color: purple;
}
r2
{
	color: pink;
}
